$colors: (
  primary: #22d3ee,
  secondary: #172554e6,
//   secondary: rgba(23, 37, 84, 0.9),
  green : #164e63,
  grey: #e5e7eb,
  white: #ffffff,
  dark: #000000,
);

// Helper
@function color($name) {
  @return map-get($colors, $name);
}
