$font-sans: ui-sans-serif, system-ui, -apple-system,
  BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
  Arial, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";

// Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;


$padding-section-block : 100px;
$padding-section-block-sm : 60px;