html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

.section-padding {
    padding-block: $padding-section-block-sm;

    @media (min-width: $lg) {
        padding-block: $padding-section-block;
    }
}
