# Node modules
node_modules/

# Build output
assets/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# WordPress core files
wp-admin/
wp-includes/

# Ignore uploads, cache, et plugins installés depuis Extensions
wp-content/uploads/
wp-content/cache/
wp-content/plugins/*

# Sauf les plugins essentiels
!wp-content/plugins/advanced-custom-fields
!wp-content/plugins/acf-extended
!wp-content/plugins/svg-support
!wp-content/plugins/gutenberg
!wp-content/plugins/regenerate-thumbnails
!wp-content/plugins/svg-support
!wp-content/plugins/wordpress-seo


# Ignore thème compilé (si tu as Vite/Bootstrap)
wp-content/themes/mon-theme/node_modules/
wp-content/themes/mon-theme/dist/

